
body{
    overflow: auto;
    text-align: center;
    font-size: 100%;
}
.share{
    height: 30px;
    background-color: #efefef;
}

.shareWrapper{
    width:1020px;

    height: 30px;
    background-color: #efefef;
    margin: 0 auto;
    text-align: right;
    text-decoration: none;
}
.header {
    height: 108px;
    background-color: #fff;
    text-align: left;
}

.wrapperHeader{
    width: 1020px;

    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    font-family: 'Loved by the King', cursive;
    font-size: 4em;
    color: #000;
}

.wrapperHeader img{
    margin-left: -15px;
}

.linkToFb{
    opacity: 0.8;
    text-decoration: none;
}

.linkToTw{
    opacity: 0.8;
    text-decoration: none;
}

.linkToFb:hover{
    opacity: 1;
}

.linkToTw:hover{
    opacity: 1;
}

.content{
    height: 642px;
    background-color: #4dbcc9;
    width: 100%;
}

.wrapperContent{
    margin: 0 auto;
    width: 1020px;
    padding-top: 22px;
}


.videoPlayer{
    width: 960px;

    height: 540px;
    background-color: white;
    text-align: center;
    border: 1px solid #000;

}


.videoBox{

    width: 960px;

    padding: 30px;
    padding-bottom: 30px;

    background-color: #5fc3cf;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px 0 #4dbcc9;
    -webkit-box-shadow: 0 2px 2px 0 #4dbcc9;
    box-shadow: 0 2px 2px 0 #4dbcc9;
}


.text{
    width: 370px;
    margin-left: 40px;
    float:left;
    text-align: left;
}
.text p{

    font-family: "myriad-pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.625em;

}

.text p.explanation{
    font-size: 1.225em;
}


.btnFacebook{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #3a599d;
    background-image: -moz-linear-gradient(top, #4265b2, #2f477d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4265b2), to(#2f477d));
    background-image: -webkit-linear-gradient(top, #4265b2, #2f477d);
    background-image: -o-linear-gradient(top, #4265b2, #2f477d);
    background-image: linear-gradient(to bottom, #4265b2, #2f477d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4265b2', endColorstr='#ff2f477d', GradientType=0);
    border-color: #2f477d #2f477d #1a2745;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    padding: 12px 40px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top: 20px;
    border-color: #0099c6 #0099c6 #005e7a;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btnTwitter{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #00b6e8;
    background-image: -moz-linear-gradient(top, #00c9ff, #0099c6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00c9ff), to(#0099c6));
    background-image: -webkit-linear-gradient(top, #00c9ff, #0099c6);
    background-image: -o-linear-gradient(top, #00c9ff, #0099c6);
    background-image: linear-gradient(to bottom, #00c9ff, #0099c6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00c9ff', endColorstr='#ff0099c6', GradientType=0);
    border-color: #0099c6 #0099c6 #005e7a;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    padding: 12px 40px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 15px;

}

.footer{
     height:40px;
     background-color: #a7a7a7;
     text-align: center;
}

.site{
    width: 100%;
    background-color: white;
}
.wrapperSite{

    width: 1020px;

    font-family: "myriad-pro", sans-serif;
    font-style: normal;
    margin: 0 auto;
}

.site h2{
    webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: "myriad-pro-condensed",sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 39px;
    font-size: 1.5em;
    text-align: left;
    margin: 0px;
    padding-top: 20px;
    color: #000;
    text-align: center;

}

.site p.sentence{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #565458;
    font-weight: 400;
    font-size: 1.125em;
    font-style: normal;
    line-height: 1.4em;
    text-align: left;
}

.wrapperSite ul{
    list-style: none;
    color: #000;
    margin:0px;
    padding:0px;
}

.wrapperSite li{

    width: 475px;

    height: 150px;
    display: inline-table;

}

.wrapperSite li img{
    float:left;
    margin-right: 5px;
}
.wrapperSite li p{

    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #565458;
    font-weight: 400;
    font-size: 0.925em;
    font-style: normal;
    line-height: 1.4;
    line-height: 24px;
    text-align: left;

}


.footer p{
    margin: 0 auto;
    line-height: 40px;
}

.footer .email{
    text-decoration: underline;
    color: #000;
}

.footer .email:hover{
    color:#efefef;
}


@media handheld and (max-width: 480px) {

    body {
        width: 400px;
    }

    .shareWrapper{
        width: 400px;
    }

    .wrapperHeader {
        padding-top: 10px;
        width: 400px;
        font-size: 3em;
        text-align: center;

    }

    .videoBox {

        width: 400px;
    }

    .wrapperSite {

        width: 400px;
    }

    .wrapperContent{
        width: 370px;
        padding-top: 12px;
    }

    .wrapperHeader img{
        margin-left: -15px;
        vertical-align: middle;
    }

    .content{
        height: 245px;
        background-color: #4dbcc9;
        width: 100%;
    }

    .videoBox{

        width: 351px;
        padding: 10px;
        padding-bottom: 12px;
        background-color: #5fc3cf;

    }

    .videoPlayer{
        width: 347px;
        height: 195px;
        background-color: white;
        text-align: center;
        border: 1px solid #000;

    }

    .wrapperSite h2{
        font-size: 1.5em;
    }

    .wrapperSite p.sentence{
        font-size: 1em;
    }

    .wrapperSite li{
        display: inline;
        width: 325px;

    }

    .footer{
        padding-top: 5px;
        height: 60px;

    }

    .footer p{
        line-height: 1.2em;
    }


}


